# S3-compatible storage. For Cloudflare R2:
#   S3_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
#   S3_REGION=auto
# For AWS S3:
#   S3_ENDPOINT=https://s3.<region>.amazonaws.com
#   S3_REGION=<region>
S3_ENDPOINT=
S3_REGION=auto
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# Protects uploads (x-api-key header) and the site (open any page with ?key=). openssl rand -hex 32
API_KEY=
